<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="src/styles/main.css"/>
    <link rel="stylesheet" href="src/styles/card.css"/>
    <script type="module" src="src/test/main.mjs"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.0/css/all.css">
    <link rel="stylesheet" href="src/styles/tutorial.css"/>
    <title>MoveItThere</title>

</head>

<body>
    <button id="audio" class="audio-button">
</button>

</body>
</html>